The client library code is generated via [swagger](https://swagger.io). See README for details.

In [41]:
import sys
sys.path.append('python-client/')
import swagger_client
from __future__ import print_function
import time
from swagger_client.rest import ApiException
from pprint import pprint
import pandas as pd

In [42]:
api_instance = swagger_client.SparqlApi()
repository_id = 'TravelRegionKnowledgeGraph'
query_ln = 'sparql' # str | Specifies the query language that is used for the query. Acceptable values are strings denoting the query languages supported by the server, i.e. 'serql' for SeRQL queries and 'sparql' for SPARQL queries. If not specified, the server assumes the query is a SPARQL query (optional)
infer = True # bool | Specifies whether inferred statements should be included in the query evaluation. Inferred statements are included by default. Specifying any value other than 'true' (ignoring case) restricts the query evluation to explicit statements only. (optional)
varname = '' # str | Specifies variable bindings. Variables appearing in the query can be bound to a specific value outside the actual query using this option. The value should be an N-Triples encoded RDF value. (optional)
timeout = 56 # int | Specifies a maximum query execution time, in whole seconds. The value should be an integer. A setting of 0 or a negative number indicates unlimited query time (the default). (optional)
distinct = True # bool | Specifies if only distinct query solutions should be returned. The value should be true or false. If the supplied SPARQL query itself already has a DISTINCT modifier, this parameter will have no effect. (optional)
limit = 56 # int | Specifies the maximum number of query solutions to return. The value should be a positive integer. If the supplied SPARQL query itself already has a LIMIT modifier, this parameter will only have an effect if the supplied value is lower than the LIMIT value in the query. (optional)
offset = 0 # int | Specifies the number of query solutions to skip. The value should be a positive integer. This parameter is cumulative with any OFFSET modifier in the supplied SPARQL query itself. (optional)

In [43]:
query = """PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX travelregion: <http://cit.tum.de/ressource/travelkg/region/>
PREFIX travelkg: <http://cit.tum.de/ontology/travelkg/>

select ?region ?cost where { 
    ?region dbo:subregion+ travelregion:Europe .
    ?region travelkg:januaryRating <http://cit.tum.de/ressource/travelkg/monthlyRating/january/4> .
    ?region travelkg:avgCostPerWeek ?cost .
} LIMIT 10
"""

try:
    # Send queries on a specific repository with ID. This resource represents a SPARQL query endpoint
    api_response = api_instance.execute_get_select_query(repository_id, query, query_ln=query_ln, infer=infer, timeout=timeout, distinct=distinct, limit=limit, offset=offset)
    cols = api_response.get('head').get('vars')
    values = api_response.get('results').get('bindings')
    data = []
    
    for row in values:
        d_row =[]
        for col in cols:
            d_row.append(row.get(col).get('value'))
        data.append(d_row)
    
    df = pd.DataFrame(data, columns=cols)
    display(df)
    
except ApiException as e:
    print("Exception when calling SparqlApi->execute_get_select_query: %s\n" % e)

,region,cost
0,http://cit.tum.de/ressource/travelkg/region/Ce...,http://cit.tum.de/ressource/travelkg/avgCostPe...
1,http://cit.tum.de/ressource/travelkg/region/Ge...,http://cit.tum.de/ressource/travelkg/avgCostPe...
2,http://cit.tum.de/ressource/travelkg/region/Be...,http://cit.tum.de/ressource/travelkg/avgCostPe...
3,http://cit.tum.de/ressource/travelkg/region/Fr...,http://cit.tum.de/ressource/travelkg/avgCostPe...
4,http://cit.tum.de/ressource/travelkg/region/Sl...,http://cit.tum.de/ressource/travelkg/avgCostPe...