In [101]:
import pandas as pd
# Disable na_filter as the unique_name 'NA' (North America) is interpreted as NaN
from pandas._libs.parsers import STR_NA_VALUES
accepted_na_values = STR_NA_VALUES - {'NA'}

df = pd.read_csv("data/regionmodel_reduced.csv", keep_default_na=False, na_values=accepted_na_values)
new_df = df.drop(['Reference','Note'], axis=1)
new_df.iloc[110]

Parent-Region                         South Asia
Region                                    Bhutan
SQL unique_name                              BTN
time to 75% daily utility in weeks           NaN
time to 25% daily utility in weeks           NaN
Aver. cost per week                        250.0
jan                                            o
feb                                            o
mar                                            +
apr                                            +
may                                            o
jun                                            -
jul                                            -
aug                                            -
sep                                            +
oct                                           ++
nov                                           ++
dec                                            +
Safety from crime                             ++
nature & wildlife                             ++
hiking                                         +
beach                                         --
watersports                                  ---
entertainment                                  -
wintersports                                   -
culture                                        +
culinary                                       o
cities & architecture                          -
shopping                                      --
Name: 110, dtype: object

Plenty of values are missing and in the wrong representation.
We first replace missing values in `SQL unique_name` with empty strings.
Multiple columns are using likert scales for their ratings (`'---'`,...,`'o'`, ...,`'+++'`). We convert those to a numeric scale (1-7).

In [102]:
new_df['SQL unique_name'] = df['SQL unique_name'].fillna(value='')

likert_cols = list(new_df.columns)[6:]
remap = dict(zip(['---', '--', '-', 'o', '+', '++', '+++'], list(range(1,8))))
new_df[likert_cols] = new_df[likert_cols].replace(remap)

new_df.iloc[110]
likert_cols

['jan',
 'feb',
 'mar',
 'apr',
 'may',
 'jun',
 'jul',
 'aug',
 'sep',
 'oct',
 'nov',
 'dec',
 'Safety from crime',
 'nature & wildlife',
 'hiking',
 'beach',
 'watersports',
 'entertainment',
 'wintersports',
 'culture',
 'culinary',
 'cities & architecture',
 'shopping']

We fill in all the missing values.

In [108]:
def fillInParentRow(index, startCol, endCol, parent, row):
    if (row.icol[0] == parent[1]):
        for i in range(startCol, endCol):
            if (pd.isna(row.icol[i])):
                new_df.iat[index, i] = parent.iloc[i]
            
parent_row = pd.Series([], dtype='float64')
    
for index in new_df.index:
    row = new_df.iloc[index]
    fillInParentRow(index, 3, 29, parent_row, row)
    
    if (row.iloc[2] == ''):
        fill
        parent_row = row
        continue
    elif (row.iloc[0] == parent_row.iloc[1]):
        fillInParentRow(index, 3, 29, parent_row, row)
        #for i in range(3, 28 + 1):
        #    if (pd.isna(row.iloc[i]) and (row.iloc[0] == parent_row.iloc[1])):
        #        new_df.iat[index, i] = parent_row.iloc[i]
        continue
    
    #print("edge case at index: ", index, " with parent_row: ", parent_row, " and row: ", row)
            
print(new_df.shape)
new_df

edge case at index:  15  with parent_row:  Parent-Region                         North America
Region                                       Canada
SQL unique_name
time to 75% daily utility in weeks                1
time to 25% daily utility in weeks                8
Aver. cost per week                             725
jan                                            <NA>
feb                                            <NA>
mar                                            <NA>
apr                                            <NA>
may                                            <NA>
jun                                            <NA>
jul                                            <NA>
aug                                            <NA>
sep                                            <NA>
oct                                            <NA>
nov                                            <NA>
dec                                            <NA>
Safety from crime                                 5
nature & wildlife                              <NA>
hiking                                         <NA>
beach                                          <NA>
watersports                                    <NA>
entertainment                                  <NA>
wintersports                                   <NA>
culture                                        <NA>
culinary                                       <NA>
cities & architecture                          <NA>
shopping                                       <NA>
Name: 8, dtype: object  and row:  Parent-Region                         North America
Region                                    Greenland
SQL unique_name                                 GRL
time to 75% daily utility in weeks                1
time to 25% daily utility in weeks                4
Aver. cost per week                             975
jan                                               2
feb                                               2
mar                                               3
apr                                               4
may                                               5
jun                                               6
jul                                               6
aug                                               6
sep                                               6
oct                                               5
nov                                               3
dec                                               2
Safety from crime                                 6
nature & wildlife                                 5
hiking                                            5
beach                                             2
watersports                                       4
entertainment                                     2
wintersports                                      4
culture                                           3
culinary                                          2
cities & architecture                             2
shopping                                          2
Name: 15, dtype: object
edge case at index:  47  with parent_row:  Parent-Region                         Middle America and Caribbean
Region                                                   Caribbean
SQL unique_name
time to 75% daily utility in weeks                               2
time to 25% daily utility in weeks                               8
Aver. cost per week                                           <NA>
jan                                                              6
feb                                                              6
mar                                                              6
apr                                                              6
may                                                              5
jun                                                              4
jul                                                              3
aug                                                              3
sep                                                              3
oct                                                              3
nov                                                              5
dec                                                              6
Safety from crime                                                4
nature & wildlife                                             <NA>
hiking                                                        <NA>
beach                                                         <NA>
watersports                                                   <NA>
entertainment                                                 <NA>
wintersports                                                  <NA>
culture                                                       <NA>
culinary                                                      <NA>
cities & architecture                                         <NA>
shopping                                                      <NA>
Name: 42, dtype: object  and row:  Parent-Region                         South America
Region                                    Venezuela
SQL unique_name                                 VEN
time to 75% daily utility in weeks                1
time to 25% daily utility in weeks                8
Aver. cost per week                             390
jan                                               6
feb                                               6
mar                                               6
apr                                               6
may                                               5
jun                                               4
jul                                               3
aug                                               3
sep                                               3
oct                                               4
nov                                               5
dec                                               6
Safety from crime                                 3
nature & wildlife                                 6
hiking                                            3
beach                                             5
watersports                                       4
entertainment                                     3
wintersports                                      2
culture                                           4
culinary                                          4
cities & architecture                             4
shopping                                          4
Name: 47, dtype: object
edge case at index:  48  with parent_row:  Parent-Region                         Middle America and Caribbean
Region                                                   Caribbean
SQL unique_name
time to 75% daily utility in weeks                               2
time to 25% daily utility in weeks                               8
Aver. cost per week                                           <NA>
jan                                                              6
feb                                                              6
mar                                                              6
apr                                                              6
may                                                              5
jun                                                              4
jul                                                              3
aug                                                              3
sep                                                              3
oct                                                              3
nov                                                              5
dec                                                              6
Safety from crime                                                4
nature & wildlife                                             <NA>
hiking                                                        <NA>
beach                                                         <NA>
watersports                                                   <NA>
entertainment                                                 <NA>
wintersports                                                  <NA>
culture                                                       <NA>
culinary                                                      <NA>
cities & architecture                                         <NA>
shopping                                                      <NA>
Name: 42, dtype: object  and row:  Parent-Region                         South America
Region                                      Guianas
SQL unique_name                                 GUY
time to 75% daily utility in weeks                1
time to 25% daily utility in weeks                8
Aver. cost per week                             525
jan                                               4
feb                                               5
mar                                               6
apr                                               5
may                                               3
jun                                               3
jul                                               3
aug                                               4
sep                                               6
oct                                               6
nov                                               6
dec                                               4
Safety from crime                                 3
nature & wildlife                                 5
hiking                                            3
beach                                             4
watersports                                       3
entertainment                                     2
wintersports                                      2
culture                                           3
culinary                                          5
cities & architecture                             2
shopping                                          2
Name: 48, dtype: object
edge case at index:  49  with parent_row:  Parent-Region                         Middle America and Caribbean
Region                                                   Caribbean
SQL unique_name
time to 75% daily utility in weeks                               2
time to 25% daily utility in weeks                               8
Aver. cost per week                                           <NA>
jan                                                              6
feb                                                              6
mar                                                              6
apr                                                              6
may                                                              5
jun                                                              4
jul                                                              3
aug                                                              3
sep                                                              3
oct                                                              3
nov                                                              5
dec                                                              6
Safety from crime                                                4
nature & wildlife                                             <NA>
hiking                                                        <NA>
beach                                                         <NA>
watersports                                                   <NA>
entertainment                                                 <NA>
wintersports                                                  <NA>
culture                                                       <NA>
culinary                                                      <NA>
cities & architecture                                         <NA>
shopping                                                      <NA>
Name: 42, dtype: object  and row:  Parent-Region                         South America
Region                                     Colombia
SQL unique_name                                 COL
time to 75% daily utility in weeks                2
time to 25% daily utility in weeks               12
Aver. cost per week                             350
jan                                               6
feb                                               6
mar                                               6
apr                                               4
may                                               3
jun                                               3
jul                                               5
aug                                               5
sep                                               3
oct                                               3
nov                                               4
dec                                               6
Safety from crime                                 4
nature & wildlife                                 5
hiking                                            4
beach                                             5
watersports                                       4
entertainment                                     5
wintersports                                      3
culture                                           5
culinary                                          4
cities & architecture                             4
shopping                                          4
Name: 49, dtype: object
edge case at index:  50  with parent_row:  Parent-Region                         Middle America and Caribbean
Region                                                   Caribbean
SQL unique_name
time to 75% daily utility in weeks                               2
time to 25% daily utility in weeks                               8
Aver. cost per week                                           <NA>
jan                                                              6
feb                                                              6
mar                                                              6
apr                                                              6
may                                                              5
jun                                                              4
jul                                                              3
aug                                                              3
sep                                                              3
oct                                                              3
nov                                                              5
dec                                                              6
Safety from crime                                                4
nature & wildlife                                             <NA>
hiking                                                        <NA>
beach                                                         <NA>
watersports                                                   <NA>
entertainment                                                 <NA>
wintersports                                                  <NA>
culture                                                       <NA>
culinary                                                      <NA>
cities & architecture                                         <NA>
shopping                                                      <NA>
Name: 42, dtype: object  and row:  Parent-Region                         South America
Region                                      Ecuador
SQL unique_name                                 ECU
time to 75% daily utility in weeks                1
time to 25% daily utility in weeks                8
Aver. cost per week                             350
jan                                               3
feb                                               3
mar                                               3
apr                                               4
may                                               4
jun                                               5
jul                                               6
aug                                               6
sep                                               6
oct                                               4
nov                                               3
dec                                               3
Safety from crime                                 4
nature & wildlife                                 5
hiking                                            5
beach                                             4
watersports                                       4
entertainment                                     3
wintersports                                      2
culture                                           4
culinary                                          4
cities & architecture                             4
shopping                                          4
Name: 50, dtype: object
edge case at index:  51  with parent_row:  Parent-Region                         Middle America and Caribbean
Region                                                   Caribbean
SQL unique_name
time to 75% daily utility in weeks                               2
time to 25% daily utility in weeks                               8
Aver. cost per week                                           <NA>
jan                                                              6
feb                                                              6
mar                                                              6
apr                                                              6
may                                                              5
jun                                                              4
jul                                                              3
aug                                                              3
sep                                                              3
oct                                                              3
nov                                                              5
dec                                                              6
Safety from crime                                                4
nature & wildlife                                             <NA>
hiking                                                        <NA>
beach                                                         <NA>
watersports                                                   <NA>
entertainment                                                 <NA>
wintersports                                                  <NA>
culture                                                       <NA>
culinary                                                      <NA>
cities & architecture                                         <NA>
shopping                                                      <NA>
Name: 42, dtype: object  and row:  Parent-Region                         South America
Region                                         Peru
SQL unique_name                                 PER
time to 75% daily utility in weeks                2
time to 25% daily utility in weeks               12
Aver. cost per week                             350
jan                                               3
feb                                               3
mar                                               3
apr                                               4
may                                               5
jun                                               6
jul                                               6
aug                                               6
sep                                               5
oct                                               4
nov                                               3
dec                                               3

,Parent-Region,Region,SQL unique_name,time to 75% daily utility in weeks,time to 25% daily utility in weeks,Aver. cost per week,jan,feb,mar,apr,...,nature & wildlife,hiking,beach,watersports,entertainment,wintersports,culture,culinary,cities & architecture,shopping
0,NaN,World,,1,4,400,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
1,World,Europe,EU,1,4,400,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
2,World,North America,NA,1,4,400,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3,World,Middle America and Caribbean,MA,1,4,400,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
4,World,South America,SA,1,4,400,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Southern Europe,"Spain, Canary islands",ESP_CA,1,2,350,5,5,5,6,...,4,4,5,4,5,2,4,4,4,3
193,Southern Europe,"Portugal, mainland",PRT,1,5,350,3,3,4,6,...,4,4,5,4,4,2,5,5,5,3
194,Southern Europe,"Portugal, islands",PRT_IS,1,8,350,3,3,4,6,...,5,5,5,5,4,2,5,4,4,3
195,Southern Europe,Turkey,TUR,1,6,350,3,3,4,6,...,4,4,5,4,4,4,6,5,5,4
196,Southern Europe,Cyprus,CYP,1,6,350,3,3,4,6,...,3,4,5,5,4,2,5,4,4,3

In [104]:
new_df.dtypes

Parent-Region                          object
Region                                 object
SQL unique_name                        object
time to 75% daily utility in weeks    float64
time to 25% daily utility in weeks    float64
Aver. cost per week                   float64
jan                                   float64
feb                                   float64
mar                                   float64
apr                                   float64
may                                   float64
jun                                   float64
jul                                   float64
aug                                   float64
sep                                   float64
oct                                   float64
nov                                   float64
dec                                   float64
Safety from crime                     float64
nature & wildlife                     float64
hiking                                float64
beach                                 float64
watersports                           float64
entertainment                         float64
wintersports                          float64
culture                               float64
culinary                              float64
cities & architecture                 float64
shopping                              float64
dtype: object

We finally convert all scales columns to `int64` instead of `float64`

In [105]:
float_cols = new_df.select_dtypes(include=['float64'])
for col in float_cols.columns.values:
    new_df[col] = new_df[col].astype('Int64')
    
    
print('Original df shape was: ', df.shape, ', dropped two columns and now have: ', new_df.shape)

Original df shape was:  (197, 31) , dropped two columns and now have:  (197, 29)

Save as csv

In [106]:
new_df.to_csv('data/regionmodel_output_cleaned.csv')